# Import Required Libraries
Import the necessary libraries, including PIL (Pillow) for image processing.

# Load Images
Load the four images that will be included in the final image using PIL.

# Create a Blank Template
Create a blank template image with a specified size using PIL.

# Place Images on Template
Place the four loaded images onto the blank template at specified positions.

# Save and Display the Final Image
Save the final image to a file and display it using PIL.

In [ ]:
# Save and Display the Final Image

# Save the final image to a file
template_image.save('final_image.jpg')

# Display the final image using PIL
final_image = Image.open('final_image.jpg')
final_image.show()

In [213]:
import json 
file = "images/energy.json"
with open(file, "r", encoding="utf-8") as f:
    energy = json.load(f)

In [214]:
dates = []
ener = []
for en in energy:
    dates.append(en['date'])
    ener.append(en['energy_consumed'])

In [215]:
import pandas as pd

temp = pd.DataFrame({'datetime': dates, 'energy_consumed': ener})

In [216]:
temp['datetime'] = pd.to_datetime(temp['datetime'])

In [217]:
temp['date'] = temp['datetime'].dt.date

In [218]:
temp

               datetime  energy_consumed        date
0   2024-12-05 12:44:13         43632.67  2024-12-05
1   2024-12-05 12:50:13         43638.05  2024-12-05
2   2024-12-05 12:52:13         43639.85  2024-12-05
3   2024-12-05 12:54:13         43641.65  2024-12-05
4   2024-12-05 12:56:13         43643.41  2024-12-05
..                  ...              ...         ...
769 2024-12-06 15:46:11         44375.80  2024-12-06
770 2024-12-06 15:48:11         44377.11  2024-12-06
771 2024-12-06 15:50:11         44378.40  2024-12-06
772 2024-12-06 15:52:11         44379.74  2024-12-06
773 2024-12-06 15:54:11         44381.04  2024-12-06

[774 rows x 3 columns]

In [223]:
temp.groupby('date').agg({'energy_consumed': ['min', 'max']}).diff(axis=1)['energy_consumed'].reset_index()[['date', 'max']]

         date     max
0  2024-12-05  394.19
1  2024-12-06  354.14

In [ ]:
temp.groupby('date').max()